[submodule "vendor/github.com/helpfulengineering/project-ventilator-splitter"]
	path = vendor/github.com/helpfulengineering/project-ventilator-splitter
	url = https://github.com/helpfulengineering/project-ventilator-splitter
